<router-outlet></router-outlet>

<div class="container">

  <div class="row">
    <div class="col-md-6 p-3">
      <app-calender></app-calender>
    </div>
    <div class="col-md-6 p-3">
      <app-booking class="mt-5"></app-booking>
    </div>
  </div>


  
  <div class="border-top text-right pt-3 mb-2 mt-2">
    <h5 class="text-left bg-success text-white p-2 highlight-shadow mb-4">See Bookings By Date:</h5>
    <label for="fromDateTable">From: </label>&nbsp;
    <input [value]="getFormattedDate(bookingDate.start)" (change)="datePicked(1, $event)" class="form-control date-input" type="date" name="fromDateTable">
    &nbsp;
    <label for="toDateTable">To: </label>&nbsp;
    <input [value]="getFormattedDate(bookingDate.end)" (change)="datePicked(2, $event)" class="form-control date-input" type="date" name="toDateTable">
  </div>

  <table *ngIf="shareDataService.bookings.length > 0; else noBooking"
    class="highlight-shadow text-center table table-bordered">
    <tr class="bg-warning">
      <th>Name</th>
      <th>Booking Date</th>
    </tr>
    <tr *ngFor="let booking of shareDataService.bookings">
      <td>{{booking.tenantName}}</td>
      <td>{{booking.fromDate | date}} &nbsp;<span class="text-success">To</span>&nbsp; {{booking.toDate | date}}</td>
    </tr>
  </table>

  <ng-template #noBooking>
    <div class="highlight-shadow bg-warning text-center p-3">
      No booking to display.
    </div>
  </ng-template>
</div>